body {
	background-color: #fff;
	background-image: url(../gfx/flower-bg.png);
	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-size: 1050px;
}
label {
	margin-bottom: em-calc(16);
}
.label-list {
	list-style: none;
	label {
		margin-left: em-calc( 5 );
		display: inline;
		font-weight: normal;
	}
}